{% extends 'base.html' %}
{% load static %}
{% block title %}Contact{% endblock %}

{% block banner_slider %}
<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/banner/b1.jpg' %}" class="d-block w-100" alt="banner image">
    </div>
      <div class="carousel-item active">
      <img src="{% static 'images/banner/b2.jpg' %}" class="d-block w-100" alt="banner image">
    </div>
      <div class="carousel-item active">
      <img src="{% static 'images/banner/b3.jpg' %}" class="d-block w-100" alt="banner image">
    </div>
      <div class="carousel-item active">
      <img src="{% static 'images/banner/b4.jpg' %}" class="d-block w-100" alt="banner image">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% endblock banner_slider %}

{% block main-content %}
<div class="container mt-3">
        <br>
        <h2 class="text-center">Contact Us</h2>
        <br>
        <div class="row container">
            <p class="fs-4 text-center">Address : Uzb, Sam, Nurabod</p>
            <p class="fs-4 text-center">Contact : +998 99 777 44 22</p>
            <p class="fs-4 text-center">Email : WorkEcom@gmail.com</p>
        </div>
</div>
<br><br>
{% endblock main-content %}