{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block banner_slider %}
<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/banner/b1.jpg' %}" class="d-block w-100" alt="banner image">
    </div>
      <div class="carousel-item active">
      <img src="{% static 'images/banner/b2.jpg' %}" class="d-block w-100" alt="banner image">
    </div>
      <div class="carousel-item active">
      <img src="{% static 'images/banner/b3.jpg' %}" class="d-block w-100" alt="banner image">
    </div>
      <div class="carousel-item active">
      <img src="{% static 'images/banner/b4.jpg' %}" class="d-block w-100" alt="banner image">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% endblock banner_slider %}

{% block information %}
<div class="container">
    <div class="row bg-success text-center p-5 text-white border-bottom shadow">
        <h1>Products</h1>
        <small class="fs-5">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged
        </small>
    </div>
</div>
{% endblock information %}


{% block main-content %}
<div class="container">
    <h2>Welcome Product site...</h2>
    <br/><br/>
    <div class="row-container row">
        {% for category in categories %}
        <div class="col-4 mi-go wow fadeInUp mt-10"
             data-wow-duration="1s" data-wow-delay="0.6s"
             style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none;">
            <div class="goodnesssec buttermilk smbg">
                <a href="{% url 'category' category.slug %}">
                    <div class="goodnessseccont text-center">
                        <img src="{{ category.image.url }}" class="img-responsive center-block" alt="">
                        <p class="mlkpro">{{ category.name }}</p>
                    </div>
                </a>
            </div>
        </div>
        <br><br>
        {% endfor %}
    </div>
</div>
<br/><br/>
{% endblock main-content %}




